* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: 'calibri';
}

header {
    background: #03A9F4;
    width: 100%;
    clear: both;
    content:'';
    display: table; 
}

.menu {
    width: 900px;
    margin: 0 auto;
}

img {
    width: 700px;
    height: 400px;
    float: left;
    padding: 8px;
}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
    position: relative;

}

nav ul li a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
}

nav ul li a::before {
    display: block;
    content:'';
    width: 0%;
    background: #444;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
}

nav ul li a:hover::before {
    width: 100%;
}

.animales {
    max-width: 100%;
    max-height: 100%;
}

.panda1 {
    width: 700px;
    height: 400px;
    float: left;
    padding: 8px;
}
@charset "utf-8";
nav{
    display:grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background: aliceblue;
    font-family: sans-serif;
    position:fixed;
    top:0;
    width:100%;
    }
nav .logo{
    font-size: 24px;
    font-weight:black;
    }
nav .barnav{
    display:grid;
    grid-template-columns: repeat(4,auto);
    margin-right: 30px;
    }
nav .barnav div{
    padding: 10px 20px;
    }
nav .barnav div:hover{
    cursor: pointer;
    background:#CDDC39;
    }
.contenido{
    height: 1100px;
}